@model IEnumerable<BookHaven.Models.Book>

@{
    ViewData["Title"] = "Shop";
}

<h1 id="shop_title">Shop</h1>

@if (User.IsInRole("Admin"))
{
    <p><a asp-action="Create" class="btn btn-primary">Create</a></p>
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="~/uploads/@item.Image" class="card-img-top" width="100%" height="auto" asp-append-version="true" alt="Book Image" />
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text"><strong>ISBN:</strong> @Html.DisplayFor(modelItem => item.Isbn)</p>
                        <p class="card-text"><strong>Genre:</strong> @Html.DisplayFor(modelItem => item.Genre)</p>
                        <p class="card-text"><strong>Author:</strong> @Html.DisplayFor(modelItem => item.Author)</p>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Details" asp-route-id="@item.BookId" class="btn btn-info">Details</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.BookId" class="btn btn-warning">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.BookId" class="btn btn-danger">Delete</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

