@model IEnumerable<BookHaven.Models.Book>

@{
    ViewData["Title"] = "Shop";
}

<h1>Shop</h1>

@if (User.IsInRole("Admin"))
{
     <p> <a asp-action="Create">Create</a> </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                <img src="~/uploads/@item.Image" width="40" height="40" asp-append-version="true" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a>
                        <a asp-action = "Details" asp-route-id = "@item.BookId" > Details </a>
                        <a asp-action = "Delete" asp-route-id = "@item.BookId" > Delete </a>
                    }
                    
            </td>
        </tr>
}
    </tbody>
</table>
